<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-spacer"></div>
    <div class="footer-logo-wrap">
      <img src="{{ pathPrefix }}/img/site/logo.png" alt="Logo" class="footer-logo">
    </div>
    <div class="footer-spacer"></div>
  </div>

  <div class="footer-edge-right">
  <a href="{{ pathPrefix }}/cookies/">
    <img src="{{ pathPrefix }}/img/site/cookie_footer_v2.png" alt="Cookie Policy" class="cookie-icon">
  </a>
</div>
</footer>