---
title: Cookie Policy
permalink: "/cookies/index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Christopher Jones Portfolio</title>
  <link rel="stylesheet" href="{{ pathPrefix }}/assets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>

  {% include "navbar.njk" %}

<main class="dark-content-page">
  <div class="message-box">
    <h1>Nothing to see here</h1>
    <h2 class="emphasized">No cookies. Nothing. Nada. Zip.</h2>
    
    <div class="cookie-illustration">
      <img src="{{ pathPrefix }}/img/site/no-cookies.png" alt="Empty jar">
    </div>

    <p class="sub-message">The cupboard is bare.</p>
    
    <p class="legal-text-styled">
      I don't store any cookies on your computer and I don't use any third party tracking, ad or analytical tools.
    </p>

  </div>
</main>

{% include "footer.njk" %}

</body>
</html>